# Ignore virtual environment folders
.venv/
myenv/

# Ignore output frames and processed data
output_frames/
output_frames_mse/
output_frames_mse_new/
output_frames_orb/
output_frames_hist/
output_frames_ssim/
output_frames_ahash/
output_frames_phash/
output_frames_whash/
output_frames_dhash/
output_frames_crophash/
output_frames_colorhash/
output_frames_coding/
output_frames2/
output_frames3/
output_frames_flv/
output_frames_meet/
output_frames_mkv/
output_frames_mov/
output_frames_avi/
output_frames_sample/
output_frames_hybrid/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore environment and editor-specific files
.env
*.env
*.DS_Store
*.log

# Ignore IDE settings
.vscode/
.idea/

# Ignore compiled files
*.so
*.dll
*.dylib
*.pyd

videos/*.mov
videos/movie.mp4
videos/natgeo.mp4
